<?xml version="1.0" encoding="utf-8" ?>

<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbtest</property>
        <property name="hibernate.connection.username">testuser</property>
        <property name="hibernate.connection.password">qwerty1</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping package="server.model.data" />
    </session-factory>
</hibernate-configuration>

